@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap');

body {
    margin-top: 3em;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.continer-fluid .navbar{
    display: flex !important;
 }